*{
    margin: 0;
    box-sizing:border-box;
    background-color: plum;
}

.super-compon-ai{
     width: 27%;
     border: 2px solid red;
}
.belowdiv{
    /* height: 200px; */
    flex-wrap: wrap;
    display: flex;
    width:100%;
    overflow: auto;
    border: solid red 2px;
    background-color: plum;
   
}
.box {
    /* display: inline; */
    background-color: white;
    display: flex;
    width: 175px;
    height: 45px;
    padding: 6px;
    padding-bottom: 0px;
    padding-top: 5px;
    margin: 10px;
    border-radius: 50px;
    }
  .box-img{
    border-radius:50px;
    height:35px;
    width:35px;
  }
  .insideBox{
    background-color: white;
    margin-left:15px;
    width: 58px;
  }
  .language{
    background-color: white;
    font-size:13px;
    padding-top:0px;
    margin-top: -5px;
  }
  .name{
    background-color: white;
    font-size:16px;
    padding-bottom:0px;
    margin-bottom:0px;
  }

  .box-button{
    /* background-color: white; */
    margin-left:18px;
     border-radius: none;
     border: none;
  }
 